
<form style="display:flex; justify-content: center; flex-direction:column; width:30vw; margin:0 auto;" method="POST" action= "/register" >
      <label for="email">Email:</label>
      <input id="email" type="email" name="email"><br>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password"><br>

      <input type="submit" value="Register">
</form>