<% include partials/_header.ejs %>
 <section class="new-url-content">
 <div style="display:flex; justify-content: center; margin-top:50px;">
 <h2>Magic! Here is your new short URL: </h2>
 <a href = "<%= longURL %>"><%= newShortURL %></a>
 </div>

 <form method="POST" action= "/urls/<%= newShortURL %>/updates">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="UPDATE">
    </form>
</section>